<h1>This is add Catergory
  
</h1>

<form action="/categories" method="post">
<div class="form-group">
  <label for="title">Title</label>
  <input type="text" id="title" name="title">
</div>
  <button type="submit" class="btn teal" id="add_category">Add Category</button>
</form>