<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarFont">
  <a class="navbar-brand" href="/">noteBuddy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/notes">View notes</a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a href="/users" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="/users/logout" class="nav-link">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/users/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="/users/register" class="nav-link">Sign Up</a>
      </li>
      {{/if}}
  
  
    </ul>
  
  </div>
</nav>



{{!--
<nav class="navbar"> --}} {{!--
  <a href="/">
    <h2 class="navbarTitle"> noteBuddy</h2>
  </a> --}} {{!-- --}} {{!--
  <ul class="navbarLinks"> --}} {{!-- --}} {{!--
    <a class="navbarLink" href="/notes">View Notes</a> --}} {{!-- {{#if user}} --}} {{!--
    <a class="navbarLink" href="/users">Dashboard</a> --}} {{!--
    <a class="navbarLink" href="/users/logout">Logout</a> --}} {{!-- {{else}} --}} {{!--
    <a class="navbarLink" href="/users/login">Login</a> --}} {{!--
    <a class="navbarLink" href="/users/register">Sign Up</a> --}} {{!-- {{/if}} --}} {{!--
    <i class="fa fa-bars fa-3x"></i> --}} {{!-- </ul> --}} {{!-- </nav> --}} {{!-- --}}