

/* --------------------------------------- */
/* Body
/* --------------------------------------- */
body {
  margin: 0;
  width: 100%;
  font-size: 1em;
  background-color: #00C29D;
}

.capit {
  text-transform: capitalize;
}

::placeholder {
  color: #fff;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.notes {
  height: auto;
  margin: 0 auto 0px auto;
  width: 60vw;
}

.noteCardContainer {
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 7px 12px 10px #293D52;
  height: auto;
  margin: 30px 0 35px 0;
}

.noteCard {
  background-color: white;
  border-radius: 10px;
  height: auto;
}

.noteCard p {
  font-size: 18px;
  margin: 12px 0 12px 0;
  padding-left: 20px;
}

.noteCard hr {
  border: 0;
  height: 1px;
  background: #0C646F;
  background-image: linear-gradient(to right, #ccc, #0C646F, #ccc);
  margin: 0px;
}

.noteCard a {
  color: #efa639;
  padding-left: 20px;

}

.noteCardTitle {
  background-color: #0C646F;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  color: #fff;
  font-size: 24px;
  height: 35px;
  margin: 0;
  padding: 8px 0px 0px 10px;
}

.noteCardAction {
  padding: 10px 0 10px 0;
}

.noteBtn {
  background-color: #0C646F;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 9px 7px 9px;
  outline: none;
}

/* --------------------------------------- */
/* Body --> Dashboard Page */
/* --------------------------------------- */
.userMessage1 {
  color: #293D52;
  font-size: 36px;
  margin: 30px 0 15px -90px;
}

.addBtn {
  background-color: #0C646F;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  padding: 5px 9px 7px 9px;
  outline: none;
}
