{{#if success_msg}}

<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel teal">
      <div class="white-text flow-text center">{{success_msg}}</div>
    </div>
  </div>
</div>

{{/if}} 

{{#if error_msg}}

<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card-panel red">
      <div class="white-text flow-text center">{{error_msg}}</div>
    </div>
  </div>
</div>
{{/if}}