    <nav class="navbar">
      <a href="/"><h2 class="navbarTitle"> noteBuddy</h2></a>

      <ul class="navbarLinks">
        <a class="navbarLink" href="">Sign Up</a>
        <a class="navbarLink" href="">Login</a>
        <a class="navbarLink" href="">View Notes</a>
        <i class="fa fa-bars fa-3x"></i>
      </ul>
    </nav>