  <section class="mainPage">
      <div class="logoContainer">
        <img src="/img/nb.png" class="icon"/>
      </div>
      <div>
        <h1 class="homeMessage1">Hello #Builder
        <br>I'm your Digital Crafts noteBuddy</h1>
        <i class="fas fa-certificate fa-3x"></i>
        <h2 class="homeMessage2">Use me to store notes, links, code snippets, or whatever else pertaining to the lecture topics and share them with you fellow builders.</h2>
      </div>
    </section>