<link rel="stylesheet" type="text/css" href="/css/login.css">

<section class="loginPage" id="loginLink">
  <div class="login">
    <div class="loginContainer">
      <h2 class="loginMessage1">Log Into Your Profile</h2>
      <form method="post" action="#" class="loginForm">
        <div class="loginField">
          <div class="loginTitle">
            <label for="email">Email:</label>
          </div>
          <div class="loginInput">
            <input type="email" name="email" id="email" required>
          </div>
        </div>

        <div class="loginField">
          <div class="loginTitle">
            <label for="password">Password:</label>
          </div>
          <div class="loginInput">
            <input type="password" name="password" id="loginEmail" required>
          </div>
        </div>

        <div class="btnContainer">
          <button type="submit" class="loginBtn" id=sendRegistrationButton> Login</button>
        </div>
        <hr>
        <div class="memberContainer">
          <p class="notMember">Not a member yet?
            <a href="">Sign Up Now!</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
