<link rel="stylesheet" type="text/css" href="/css/registration.css">

<section class="registrationPage" id="registrationLink">
  <div class="registration">
    <div class="registrationContainer">
      <h2 class="registrationMessage1">Register A New Profile</h2>

      <form method="post" action="/users/register" class="registrationForm">
        <div class="registrationField">
          <div class="registrationTitle">
            <label for="firstName">First Name:</label>
          </div>
          <div class="registrationInput">
            <input type="text" name="firstName" id="firstName" value="{{firstName}}" required>
          </div>
        </div>

        <div class="registrationField">
          <div class="registrationTitle">
            <label for="lastName">Last Name:</label>
          </div>
          <div class="registrationInput">
            <input type="text" name="lastName" id="lastName" required value="{{lastName}}">
          </div>
        </div>

        <div class="registrationField">
          <div class="registrationTitle">
            <label for="email">Email:</label>
          </div>
          <div class="registrationInput">
            <input type="email" name="email" id="email" required value="{{email}}">
          </div>
        </div>

        <div class="registrationField">
          <div class="registrationTitle">
            <label for="pass">Password:</label>
          </div>
          <div class="registrationInput">
            <input type="password" name="pass" id="pass" required>
          </div>
        </div>

        <div class="registrationField">
          <div class="registrationTitle">
            <label for="pass2">Confirm Password:</label>
          </div>
          <div class="registrationInput">
            <input type="password" name="pass2" id="pass2" required>
          </div>
        </div>

        <div class="btnContainer">
          <button type="submit" class="registrationBtn"> Register</button>
        </div>
      </form>
    </div>
  </div>
</section>
